/*Header styling */
header {
    overflow: hidden;
}
header ul, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1;
} 
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #536972;
}
.nav-a {
    color: #252424;
    text-decoration: none;
    font-family: 'PlayfairDisplay';
    font-size: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
header a:hover {
    text-decoration: underline;
    color: white;
}
#logo {
    width: 80px;
    height: 80px;
}
#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.Hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
    display: none;
    padding-left: 94%;
}
.Hamburger-exit {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
    display: none;
    padding-left: 94%;
}
body {
    margin: 0;
    background-color: #536972;
}

/*Services styling */
main {
    background-color: #E8E3D9;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.Services-Container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
h1 {
    font-family: 'PlayfairDisplay';
    font-size: 60px;
    color: #252424;
    text-align: center;
}
h2 {
    font-family: 'PlayfairDisplay';
    font-size: 30px;
    color: #252424;
    text-align: center;
}
.Service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    background-color: #A6B2B5;
    text-align: center;
    text-wrap: wrap;
    padding: 20px;
    border-radius: 20%;
    box-sizing: border-box;
    min-height: 100px;
    cursor: pointer;
    box-shadow: grey 5px 5px 5px 5px;
}
.Service:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.Service-row-1, .Service-row-2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.Service p {
    display: none;
    font-size: 15px;
    font-family: 'Host Grotesk';
    color: #252424;
    padding: 20px;
}
.icon {
    width: 30%;
}

/*Footer styling */
footer {
    text-align: center;
    padding: 15px;
    background-color: #536972;
}
.footer-nav {
    text-decoration: none;
    font-size: 25px;
    color: #252424;
}
.footer-nav a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 20px;
    font-family: 'Host Grotesk';

}
footer ul, li {
    padding: 15px;
}

/*Custom fonts */
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('Assets/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family: 'Play Fair Display Italic';
    src: url('Assets/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Host Grotesk';
    src: url('Assets/HostGrotesk-VariableFont_wght.ttf');
}

@media screen and (max-width: 1010px) {
    .nav-a {
        display: none;
    }
    .Hamburger-menu {
        display: block;
    }
    header ul, header li {
        display: inline;
        text-align: center;
    }
    .Service-row-1, .Service-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    .Service {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .Hamburger-menu {
        padding-left: 93%;
    }
    .Hamburger-exit {
        padding-left: 93%;
    }
}

/*Mobile CSS*/
@media screen and (max-width: 768px) {
    .Hamburger-menu {
        padding-left: 90%;
    }
    .Hamburger-exit {
        padding-left: 90%;
    }
}

@media screen and (max-width: 600px) {
    .Hamburger-menu {
        padding-left: 88%;
    }
    .Hamburger-exit {
        padding-left: 88%;
    }
}